/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header Styles */
  header {
    width: 100%;
    background-color: #111;
    padding: 1rem;
    text-align: center;
  }
  header a {
    font-size: 2rem;
    font-weight: bold;
    color: #14caed;
    text-decoration: none;
  }
  header span {
    font-size: 1.5rem;
    color: #fff;
  }
  
  /* Search Bar Styles */
  form {
    margin: 1.5rem 0;
    width: 80%;
  }
  input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #012a72;
    border-radius: 2rem;
    background-color: transparent;
    color: #fff;
    outline: none;
  }
  
  /* Movie Grid */
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 1rem auto;
  }
  
  /* Movie Card */
  .movie-card {
    background-color: #121013;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25rem;
    transition: transform 0.3s ease;
  }
  .movie-card:hover {
    transform: scale(1.05);
  }
  .movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .movie-card .overview {
    padding: 1rem;
    color: #fff;
    font-size: 0.9rem;
  }
  .movie-card .overview p {
    font-weight: bold;
  }
  .movie-card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .movie-card h3 {
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: #fff;
  }
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }
  .red {
    background-color: red;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    input {
      font-size: 0.9rem;
    }
    .movie-card {
      height: 20rem;
    }
    .movie-card h2 {
      font-size: 1rem;
    }
  }
  